@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

:root {
    --primary-color: #007af3;
}

body {
    background: #f2f2f2;
    margin: 0;
    font-family: 'Poppins';
}

a {
    color: #444444;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

section {
    padding: 5em 2em;
}

.navbar {
    padding: 1em;

    .logo {
        text-decoration: none;
        font-size: 1.2em;
        color: black;
        font-weight: bold;

        span {
            color: var(--primary-color);
        }
    }

    nav {
        display: none;
    }

    .container {
        display: flex;
        place-content: space-between;
    }

    .mobile-menu {
        cursor: pointer;
    }
}

.hero {
    text-align: center;

    .left-col {
        .subhead {
            text-transform: uppercase;
            font-weight: bold;
            color: gray;
            letter-spacing: .3em;
        }

        h1 {
            font-size: 2.5em;
            line-height: 1.2em;
            margin: .2em;
        }

        .primary-cta {
            background: var(--primary-color);
            color: white;
            text-decoration: none;
            padding: .6em 1.3em;
            border-radius: 5em;
            font: size 1.4em;
            font-weight: bold;
            display: inline-block;
        }

        .watch-video-cta {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 1em;

            img {
                margin-right: .5em;
            }
        }
    }
}

.hero-image {
    width: 70%;
    margin-top: 3em;
}

.features-section {
    background: #20272e;
    color: white;

    img {
        display: none;
    }

    ul {
        margin: 0;
        padding-left: .1em;
        display: flex;
        flex-wrap: wrap;

        li {
            flex: 1 1 19rem;
            font-size: 1.1em;
            margin-bottom: 1em;
            margin-left: 2em;
            position: relative;

            &:before {
                content: '';
                width: 20px;
                height: 20px;
                position: absolute;
                left: -2em;
                background-image: url('/images/check.png');
                background-size: cover;
            }
        }
    }
}

.testimonials-section {
    background: var(--primary-color);
    color: white;

    ul {
        li {
            text-align: center;
            background: #006bd6;
            width: 80%;
            padding: 2em 1em;
            margin: 0 auto 5em auto;
            border-radius: 1em;

            img {
                height: 5em;
                width: 5em;
                border-radius: 50%;
                margin-top: -4.5em;
                border: .3em solid #006bd6;
            }
        }
    }
}

nav {
    position: fixed;
    top: 0;
    right: 0;
    background: #20272e;
    height: 100vh;
    width: 66%;
    z-index: 999;
    padding: 1em;

    .primary-nav {
        margin-top: 5em;
    }

    ul {
        li {
            a {
                color: white;
                text-align: right;
                display: block;
                text-decoration: none;
                padding: .5em;
                font-size: 1.1em;

                &:hover {
                    font-weight: bold;
                }
            }
        }
    }

    .mobile-menu-close {
        float: right;
        margin: .5em;
        cursor: pointer;
    }
}

nav.menu-btn {
    display: block;
}

@media only screen and (min-width : 768px) {

    .mobile-menu,
    .mobile-menu-close {
        display: none;
    }

    .navbar {
        background: white;
        position: sticky;
        top: 0;
        z-index: 999;
        .container {
            display: grid;
            grid-template-columns: 180px auto;
        }

        nav {
            display: flex;
            background: none;
            justify-content: space-between;
            height: auto;
            width: 100%;
            position: unset;
            padding: 0;

            ul {
                display: flex;
                align-items: center;

                li {
                    a {
                        color: black;
                        font-size: 1em;
                        padding: .1em 1em;
                    }
                }
            }

            .primary-nav {
                margin-top: 0;
            }

            .go-premium-cta a {
                color: var(--primary-color);
                border: 3px solid var(--primary-color);
                border-radius: 5em;
                font-weight: bold;

                &:hover {
                    background: var(--primary-color);
                    color: white
                }
            }

        }
    }
}

@media only screen and (min-width : 1080px) {
    .container {
        width: 1080px;
        margin: 0 auto;
    }

    section {
        padding: 10em 4em;
    }

    .hero {
        .container {
            display: flex;
            justify-content: space-between;
            text-align: left;

            .left-col {
                margin: 3em 3em 0 5em;

                h1 {
                    font-size: 3em;
                    width: 90%;
                    margin: 0;
                }

                .hero-cta {
                    display: flex;
                    align-items: center;
                    margin-top: 1em;
                }

                .watch-video-cta {
                    justify-content: unset;
                    margin: 0 0 0 1em;
                }
            }
        }

        .hero-image {
            width: 30%;
        }
    }

    .features-section {
        position: relative;

        ul {
            display: block;
            margin-left: 5em;

            li {
                font-size: 1.5em;

                &:before {
                    width: 30px;
                    height: 30px;
                }
            }
        }

        img {
            display: block;
            width: 350px;
            position: absolute;
            right: 0;
            bottom: -2em;
        }
    }

    .testimonials-section {
        ul {
            display: flex;

            li {
                margin: 0 1em
            }
        }

    }
}

@media only screen and (min-width : 1450px) {
    .features-section {
        &:before {
            content: '';
            position: absolute;
            width: 10%;
            height: 20em;
            background: var(--primary-color);
            left: 0;
            top: -4em;
        }

        &:after {
            content: '';
            position: absolute;
            width: 200px;
            height: 5em;
            left: 4em;
            top: 2em;
            background-image: url('/images/dots.png');
            background-size: cover;
        }
    }
}